body {
  background: lightgray;
}
.header, .content, .footer {
  height: auto;
  background: white;
  width: 100%;
}
.ant-pagination-options {
  display: none;
}
.spinner {
  margin: 20px 0;
}
.col-wrapper{
  min-height: 100vh;
}
.wrapper {
  height: 100%;
}
